@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #2563eb #030712; /* thumb | track */
}

body, #root {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px; /* horizontal scrollbar */
}

*::-webkit-scrollbar-track {
  background: #030712; /* bg-gray-950 */
}

*::-webkit-scrollbar-thumb {
  background-color: #2563eb; /* blue-600 */
  border-radius: 999px;
  border: 2px solid #030712;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3b82f6; /* blue-500 */
}